
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Girassol&family=Indie+Flower&family=Turret+Road:wght@200;300;400;500;700;800&family=Yeseva+One&display=swap');
@import "tailwindcss";

.fnt-yeseva {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.fnt-gfs {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fnt-gfs-bold {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fnt-gfs-regular-italic {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fnt-gfs-bold-italic {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fnt-girassol {
  font-family: "Girassol", serif;
  font-weight: 400;
  font-style: normal;
}



.fnt-bitcount-<uniquifier> {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}


.fnt-bodoni-<uniquifier> {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.fnt-indie-flower {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.fnt-turret-road {
  font-family: "Turret Road", sans-serif;
  font-weight: 400;
  font-style: normal;
}
